<%- layout('layouts/boilerplate') %>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><b><%= err.status %>: <%= err.name %> </b></h4>
    <p><%= err.message %> </p>
    <hr>
</div>
<img class="col-5 mx-auto mt-5 d-block" src="https://tevrapet.com/wp-content/uploads/2021/01/AdobeStock_134798768-1024x723.jpeg" alt="Meditative dog">